header {
    text-align: center;
    margin-bottom: 40px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    color: blueviolet;
    font-size: 2.5em;
}
img {
    width: 200px;
    margin: auto;
}
body{
    margin-bottom: 30px;
    font-family: 'Nanum Gothic Coding', monospace;
}
div {
    width: 750px;
    background-color: blueviolet;
    margin: auto;
    padding:10px 30px;
    border-radius: 10px;
    color: oldlace;
}
footer {
    text-align: center;
    
}
h3 {
    background-color: orange;
    padding: 10px;
    width: 250px;
    margin: 30px auto;
    border-radius: 10px;
}
html {
    background-color: lavenderblush;
}
a {
    text-decoration: none;
}
footer a:hover {
    color: blueviolet;
    font-family: 'Nanum Gothic Coding', monospace;
}

body a:hover {
    color: oldlace;
}
.body-link {
    background-color: goldenrod;
    padding: 1px;
    border-radius: 5px;
}
li {
    list-style: none;
    padding: 5px;
}
.list-highlight {
    list-style: square;
    color: goldenrod;
}
