header {
    text-align: center;
    margin-bottom: 40px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    color: blueviolet;
    font-size: 2.5em;
}
img {
    width: 200px;
    margin: auto;
}
body{
    margin-bottom: 30px;
    font-family: 'Nanum Gothic Coding', monospace;
    
}
div {
    width: 750px;
    background-color: blueviolet;
    margin: auto;
    padding:10px 30px;
    border-radius: 10px;
    color: oldlace;
}

h3 {
    
}
html {
    background-color: lavenderblush;
}
body a {
    text-decoration: none;
    background-color: orange;
    width: 250px;
}
body a:hover {
    color: oldlace;
}

.body-link {
    background-color: goldenrod;
    padding: 3px 7px;
    border-radius: 4px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 14px 0;
    padding-left: 10px;
    border-left: 5px solid transparent;

}
.list-highlight {
    border-color: goldenrod;
    color: goldenrod;
}
footer {
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    padding-top: 30px; 
}
footer a {
    padding: 10px 15px;
    border-radius: 10px;
}
footer a:hover {
    color: blueviolet;
    
}